In [2]:
print("welcome")
print("hello \
      world")
print(" python's world")
print('python\'s world')

welcome
hello       world
 python's world
python's world

In [5]:

""" 5#@%^&$@!$*)(**^%()) """

' 5#@%^&$@!$*)(**^%()) '

In [6]:
print('''5#@%^&$@!$*)(**^%()) ''')

5#@%^&$@!$*)(**^%())

In [7]:
name="preet"
mark=99.8765
age=20
print("I am ",name,"and my mark is",mark,"and my age",age)

I am  preet and my mark is 99.8765 and my age 20

In [9]:
print("I am %s mark %10.3f and age is %d" %(name,mark,age));

I am preet mark     99.876 and age is 20

In [10]:
print(f"I am {name} and my mark {mark} and age {age}");

I am preet and my mark 99.8765 and age 20

In [12]:
a=b=10
id(a)

140734570472112

In [13]:
id(b)

140734570472112

In [14]:
a=4
b=2
c=a+b
d=a-b
e=a/b
f=a%b
g=a//b
h=a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

6
2
2.0
0
2
16

In [15]:
a=240
b=10
c=a&b
d=a^b
e=a|b
f=a<<b
g=a>>b
print(c)
print(d)
print(e)
print(f)
print(g)

0
250
250
245760
0

In [16]:
print(10>9 and 15>14)

True

In [18]:

str1="pythonprogrammer"
"s" in str1

False

In [20]:

"p" in str1

True

In [21]:
10>5>8

False

In [23]:
2**-2

0.25